{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('output') }}" method=post>
    <input type=submit value=csv更新>
</form>
<form action="{{ url_for('download') }}" method=post>
    <input type=submit value=csvダウンロード>
</form>
<div class="scroll">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            {% for i in range(config['BRANCH_NUMBER']) %}
            <td>B{{ i }}</td>
            {% endfor %}
            {% for i in range(config['QUESTION_NUMBER']) %}
            <td>Q{{ i }}</td>
            {% endfor %}
        </tr>

        {% for answer in answers %}
        <tr>
            <th>{{ answer.id }}</th>
            <th>{{ answer.user_name }}</th>
            <td>{{ answer.branch0 }}</td>
            <td>{{ answer.question0 }}</td>
            <td>{{ answer.question1 }}</td>
            <td>{{ answer.question2 }}</td>
            <td>{{ answer.question3 }}</td>
            <td>{{ answer.question4 }}</td>
            <td>{{ answer.question5 }}</td>
            <td>{{ answer.question6 }}</td>
            <td>{{ answer.question7 }}</td>
            <td>{{ answer.question8 }}</td>
            <td>{{ answer.question9 }}</td>
            <td>{{ answer.question10 }}</td>
            <td>{{ answer.question11 }}</td>
            <td>{{ answer.question12 }}</td>
            <td>{{ answer.question13 }}</td>
            <td>{{ answer.question14 }}</td>
            <td>{{ answer.question15 }}</td>
            <td>{{ answer.question16 }}</td>
            <td>{{ answer.question17 }}</td>
            <td>{{ answer.question18 }}</td>
            <td>{{ answer.question19 }}</td>
            <td>{{ answer.question20 }}</td>
            <td>{{ answer.question21 }}</td>
            <td>{{ answer.question22 }}</td>
            <td>{{ answer.question23 }}</td>
            <td>{{ answer.question24 }}</td>
            <td>{{ answer.question25 }}</td>
            <td>{{ answer.question26 }}</td>
            <td>{{ answer.question27 }}</td>
            <td>{{ answer.question28 }}</td>
            <td>{{ answer.question29 }}</td>
            <td>{{ answer.question30 }}</td>
        </tr>
        {% else %}
        <tr>No Answer</tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
