{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('output') }}" method=post>
    <input type=submit value=csv更新>
</form>
<form action="{{ url_for('download') }}" method=post>
    <input type=submit value=csvダウンロード>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        {% for i in range(config['BRANCH_NUMBER']) %}
        <td>B{{ i }}</td>
        {% endfor %}
        {% for i in range(config['QUESTION_NUMBER']) %}
        <td>Q{{ i }}</td>
        {% endfor %}
    </tr>

    {% for answer in answers %}
    <tr>
        <th>{{ answer.id }}</th>
        <th>{{ answer.user_name }}</th>
        {% for i in range(config['BRANCH_NUMBER']) %}
        <td>{{ answer.branch[i] }}</td>
        {% endfor %}
        {% for i in range(config['QUESTION_NUMBER']) %}
        <td>{{ answer.question[i] }}</td>
        {% endfor %}
    </tr>
    {% else %}
    <tr>No Answer</tr>
    {% endfor %}
</table>
{% endblock %}
